page-newstore {
  .glam {
    font-weight: 300;
    color:#ee4b95;
    text-transform: uppercase;
  }

  .bar {
    font-weight: 300;
    color: #1c99c1;
    text-transform: uppercase;
  }




  .toolbar-title-md {
    // color: #d03c98;

    text-transform: uppercase;
  }

  button {
    color: #d03c98 !important;
  }

  ion-title {
    text-align: center !important;

  }
}
