<!--
  Generated template for the Category page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >

    <ion-title color="glam">
      {{name}}
    </ion-title>


    <ion-buttons end>

      <button ion-button icon-only color="glam" (click)="gotocart()" >
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>
</ion-header>


<ion-content  has-bouncing="false" no-bounce>
<!--
  <div class="makeupbanner"  [ngStyle]="{'background-image': 'url(' + image + ')'}">

  </div>

  -->

 <!--  <ion-searchbar ></ion-searchbar> -->
  <div >

    <ion-spinner *ngIf="loader"></ion-spinner>

    <ion-row wrap  class="grey">


      <ion-col width-50 *ngFor="let item of products | async" >

       <button class="product-wrapper"  (click)="gotoProduct(item)">


         <ion-img src="{{ item.slides[0].image}}" class="product" ></ion-img>

         <h4 class="name" >{{item.name}} </h4>
         <p class="newprice" >Rs {{item.newprice}}</p>
         <p class="oldprice" >Rs {{item.oldprice}}</p>


       </button>
      </ion-col>


    </ion-row>
  </div>

</ion-content>
