<!--
  Generated template for the Salons page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header class="md">

  <ion-navbar class="md" >
    <ion-title></ion-title>
  </ion-navbar>

  <ion-toolbar class="nooverflow md">
    <img src="./assets/icon/brushes.svg" class="menuicon">
    <ion-buttons>
      <button ion-button   class="menubutton lighter" >
       Sort
      </button>
      <button ion-button icon-right class="menubutton" (click)="toggleSearch()">
        <ion-icon ios="ios-search-outline" md="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>






<ion-content has-bouncing="false"  no-bounce>


  <ion-searchbar class="seach md" [ngClass]="{searchon: showsearch}" [(ngModel)]="myInput"  [formControl]="searchControl" (ionInput)="onSearchInput()" autocomplete="on" animated="true"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>


<!--  linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(222, 22, 140, 0.20)), -->


  <ion-card *ngFor="let makeup of makeups" (click)="gotomakeup(makeup)"  >

      <div class="mycard" [ngStyle]="{'background-image': 'url(' + makeup.image + ')'}">
<img src="{{makeup.image}}" style="width: 100%;height: 100%;position: absolute">

        <ion-row class="ratings" style="position: relative; top: 73%;">
          <ion-col width-66 class="ratingcol">
            <p>{{makeup.name}}</p>
            <rating [(ngModel)]="rates"></rating>
          </ion-col>
          <ion-col width-33 class="ratingcol">

            <div class="hv-container" *ngIf="makeup.homevisit">
              <img src="./assets/icon/home.png"  class="myicon">
              <p class="hv">Home Visit</p>
            </div>
          </ion-col>
        </ion-row>

      </div>








  </ion-card>

</ion-content>
