<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>

    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="toggle()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title><span class="glam">Glam</span><span class="bar">bar</span></ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="royal">
        <ion-icon ios="ios-search-outline" md="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content has-bouncing="false" no-bounce>

  <div *ngIf="havepromos">
    <div class="featured">
      Featured
    </div>
    <ion-slides #promoSlider [options]="homeOptions" (change)="onPromoSlideChanged()" >
      <ion-slide *ngFor="let promo of promos" [ngStyle]="{'background-image':  'url(' + promo.image + ')'}" >

      </ion-slide>

    </ion-slides>
  </div>


  <ion-card>
    <button style="width: 100%; height: 100%;"   (click)="makeup()">

      <img src="./assets/img/banner2.jpg?v=2" />
      <div class="card-title">Makeup Artists</div>
      <div class="card-subtitle">Near by</div>

    </button>

  </ion-card>

  <ion-card >

    <button style="width: 100%; height: 100%;" (click)="photo()">
      <img src="./assets/img/banner3.jpg?v=2"/>
      <div class="card-title">Photographers</div>
      <div class="card-subtitle">Book +</div>
    </button>

  </ion-card>


</ion-content>
