page-checkout {


  .block {

  }
  .lightfont{

    text-align: center;
    font-weight: 300;
  }
  .address {

    text-align: right;

    padding: 10px;
  }

  .deliverto {
color: #5f5b5b;
    padding: 10px;

  }

  .tick {
    display: block;
    text-align: right;
  }

  .right {
    text-align: right !important;
  }

  .sales {
    padding: 5px;

  }

  .spinn {
    margin-left: 10px;
  }
}
