page-resetpassword {

  .item-md {
    margin-bottom: 8px !important;
  }

  .list-md .item-block .item-inner{

    border-bottom: 0;
  }

  .list-ios > .item-block:first-child {

    border: none;
  }


  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {

    border-bottom: 0;
  }

  .list-ios .item-block .item-inner{

    border-bottom: none;

  }


  .input-md[clearInput] .text-input {
    background: #fafafa;
    border: 1px solid #ececec;
    border-radius: 3px;
    margin: 3px;
    height: 40px;
    padding: 5px;

  }

  .input-ios .text-input {

    background: #fafafa;
    border: 1px solid #ececec;
    border-radius: 3px;
    margin: 3px;
    height: 40px;
    padding: 5px;
  }


  .list-md .item-input.input-has-focus:last-child{
    border:none;
    box-shadow: none;
  }
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border:none;
    box-shadow: none;

  }

  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border:none;
    box-shadow: none;
  }


  .list-md .item-input.input-has-focus .item-inner{
    border:none;
    box-shadow: none;
  }

  .input{

    border: 1px solid #d6d6d6;

    border-radius: 3px;

    background: #f1f1f1;
    font-weight: 300;
    color: #3a3a3a;
  }

  .message{
    margin-top: 10px;
    padding: 10px;
    background: #fbfbfb;
    border: 2px solid #f1eded;
    text-align: left;
    transition: all 1s ease;
  }

  .input-ios .text-input{

    background:none;
  }
}
